<section>
  <div  style="margin: 20px 20px 20px 20px" class="page-header">
    <h1 style="padding:20px">{{vm.list._id ? 'Edit List' : 'New List'}}</h1>
  </div>

  <div class="col-md-6" align="left">
    <form name="vm.form.listForm" class="form-horizontal" ng-submit="vm.save(vm.form.listForm.$valid)" novalidate>
      <fieldset>
        <div class="form-group" show-errors>
          <label class="control-label" for="name"> List Name</label>
            <input name="name" style="width: 200px" type="text" ng-model="vm.list.name" id="name" class="form-control" placeholder="Name" required>
        <div class="form-group"  style="padding: 20px" >
          <button type="submit" class="btn btn-default">{{vm.list._id ? 'Update List' : 'Create New List'}}</button>
        </div>

          <div ng-messages="vm.form.listForm.name.$error" role="alert">
            <p class="help-block error-text" ng-message="required">List name is required.</p>
          </div>
        </div>


        <div ng-show="vm.error" class="text-danger">
          <strong ng-bind="vm.error"></strong>
        </div>
      </fieldset>
    </form>
  </div>

</section>


        <div class="form-group col-md-4" style="margin-right:30px">
          <label class="control-label" for="color-picker">Color</label>
            <input type="color" name="color-picker" ng-model="vm.list.color" class="form-control" />
        </div>

         <div class="form-group col-md-4">
            <label class="control-label" for="color">Please input color hex code</label>
              <input style="width: 200px" name="color" type="text"  id="color" class="form-control" ng-model="vm.list.color" required />
         </div>

<section class="listSection" style="margin: 20px 20px 20px 20px">
  <div class="row">
    <div class="col-md-6">
      <form name="vm.form.formItemList" class="form-horizontal" novalidate>
        <fieldset>
          <label class="control-label" for="listitem">List Item</label>

            <input name="item"  style="width: 200px" type="text" ng-model="vm.list.item" id="item" class="form-control" placeholder="Enter Item" required>
          <div class="form-group" style="padding: 20px" > 
            <button ng-click="vm.addItem()" class="btn btn-default">Add Item</button>
          </div>  


        </fieldset>  
      </form>    
    </div>


    <div class="col-md-6" align="right">

      <h3>List</h3>
        <div class="card">

          <ul style="list-style: none">
            <li ng-repeat="item in vm.completeList track by $index" style="color: {{vm.list.color}}">

              <div class=" pull-left">
                <label>
                <input type="checkbox" class="checkbox3" ng-click="functionItemChecked()">{{list.item}}
               </label>
              </div>
    <div class="pull-right"></div>


              {{item}}

<div class="pull-right">
  <a class="btn btn-primary btn-xs" ng-click="remove();">
   <i class="glyphicon glyphicon-trash"></i></a>
</div>
              
     
            </li>

<br>
          </ul>
        </div>

    </div>
  </div>
</section>

<tbody style="color: {{vm.list.color}}">
      <tr ng-repeat="item in vm.list.items">
        <td><input type="checkbox" ng-model="item.isChecked" /></td>
        <td ng-class="{'item-done' : item.isChecked}">{{item.name}}</td>
        <td ng-class="{'item-done' : item.isChecked}">{{item.quantity}}</td>
        <td ng-class="{'item-done' : item.isChecked}">{{item.priority}}</td>
        <td><span class="fa fa-times" ng-click="removeItem($index)"></span></td>
      </tr>
    </tbody>