<section>
  <div class="page-header">
    <h1>{{vm.list._id ? 'Edit List' : 'New List'}}</h1>
  </div>

  <div class="col-md-12">
    <form name="vm.form.listForm" class="form-horizontal" ng-submit="vm.save(vm.form.listForm.$valid)" novalidate>
      <fieldset>
        <div class="form-group" show-errors>
          <label class="control-label" for="name"> List Name</label>
          <input name="name" type="text" ng-model="vm.list.name" id="name" class="form-control" placeholder="Name" required>

          <div ng-messages="vm.form.listForm.name.$error" role="alert">
            <p class="help-block error-text" ng-message="required">List name is required.</p>
          </div>
        </div>


        <div ng-show="vm.error" class="text-danger">
          <strong ng-bind="vm.error"></strong>
        </div>
        </fieldset>
        </form>
        </div>
        </section>
        <!-- item added below-->
<!--         <div class="form-group" show-errors>
          <label class="control-label" for="name">Item</label>
          <input name="item" type="text" ng-model="vm.list.item" id="item" class="form-control" placeholder="item" required>
          <div ng-messages="vm.form.listForm.item.$error" role="alert">
            <p class="help-block error-text" ng-message="required">Error</p>
          </div>
        </div> -->
<section class="listSection">
  <div class="row">
    <div class="col-md-6">
      <form name="vm.form.listForm" class="form-horizontal" ng-submit="vm.addItem(vm.form.listItems.$valid)" novalidate>
        <fieldset>
          <label class="control-label" for="listitem">List Item</label>
            <input name="item" type="text" ng-model="vm.list.item" id="item" class="form-control" placeholder="Enter Item" required>
          <div class="form-group" style="padding: 25px" > 
            <button type="submit" class="btn btn-default">Add Item</button>
          </div>  

                  <div class="form-group">
          <button type="submit" class="btn btn-default">{{vm.list._id ? 'Update List' : 'Create New List'}}</button>
        </div>
        </fieldset>  
      </form>    
    </div>

    <div class="col-md-6">
      <h3>List</h3>
        <div class="card">
          <ul style="list-style: none" >

            <li ng-repeat="item in vm.completeList" >  <div class="pull-left" >
    <label>
    <input type="checkbox" class="checkbox4" ng-click="functionItemChecked()"> {{article.content}}</label>    
    <div class="pull-right">
    </div>
  </div>
              
               {{item}}

  <a class="btn btn-primary" ng-click="remove();">
   <i class="glyphicon glyphicon-trash"></i></a>

            </li>
          </ul>
        </div>
    </div>


  </div>
</section>
