<section>
  <div class="page-header">
    <h1>Lists</h1>
  </div>
  <div class="list-group">
    <a ng-repeat="list in vm.lists"
       ui-sref="lists.edit({ listId: list._id })"
       class="list-group-item">
      <small class="list-group-item-text">
        Created:
        <span ng-bind="list.created | date:'mediumDate'"></span>
        by
        <span ng-if="list.user" ng-bind="list.user.displayName"></span>
        <span ng-if="!list.user">Deleted User</span>
      </small>
      <br>
      <small class="list-group-item-text">
        Modified:
        <span ng-bind="list.modified | date:'mediumDate'"></span>
        by
        <span ng-if="list.user" ng-bind="list.user.displayName"></span>
        <span ng-if="!list.user">Deleted User</span>
      </small>
      <h4 class="list-group-item-heading" ng-bind="list.name"></h4>
    </a>
  </div>
  <div class="alert alert-warning text-center" ng-if="vm.lists.$resolved && !vm.lists.length">
    No Lists yet, why don't you <a ui-sref="lists.create">create one</a>?
  </div>
</section>
