<section ng-controller="HomeController" style="height:100%; width:100%">
   <div class="text-center">
    <div class="parallax"></div>
      <div style="height:250px;background-color:transparent;font-size: 30px;">

        <h1 style="letter-spacing: 0.1em"> welcome to pencil+paper company</h1> 
        <hr>
        <h3 style="letter-spacing:0.1em">we're glad you're here. we are a custom on-line shopping list company location in fishers, indiana. our passion is to help you be prepared for all of life's most joyous events no matter how big or small. thank you for stopping by. please tell your friends about our helpful little site. </h3>      </div>

      <div class="parallax2"></div>
    </div>
  </div>
 </section> 

<style>

.parallax { 
    /* The image used */
    background-image: url("/modules/core/client/img/brand/pp2.jpg");

    /* Full height */
    height: 500px !important;
    width: 100% !important;

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
}
.parallax2 { 
    /* The image used */
    background-image: url("/modules/core/client/img/brand/pp.jpg");

    /* Full height */
    height: 500px;
    width: 100%; 

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
    
}
</style>
 