<section ng-controller="HomeController" style="height:100%; width:100%">
   <div class="text-center">
    <div class="parallax"></div>
      <div style="height:250px;background-color:transparent;font-size: 30px;">
        <h1 style="letter-spacing: 0.1em"> welcome to pencil+paper</h1> 
        <br>
        <h3 style="letter-spacing:0.1em">we're glad you're here. we are a on-line list making company location in fishers, indiana. we have a passion for all kinds of lists for all of life's most joyous events. thank you for stopping by.</h3>      </div>
      <div class="parallax2"></div>
    </div>
  </div>
 </section> 

<style>
/*body, {
    height: 100%;
    width: 100%;
}*/
.parallax { 
    /* The image used */
    background-image: url("/modules/core/client/img/brand/pp2.jpg");
    /*background-image: url("/modules/core/client/img/brand/pencilpaper.jpg");*/
    /* Full height */
    height: 500px !important;
    width: 100% !important; 
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
}
.parallax2 { 
    /* The image used */
    /*background-image: url("/modules/core/client/img/brand/pp.jpg");*/
    background-image: url("/modules/core/client/img/brand/pp.jpg");
    /* Full height */
    /*background-size: 100% 50%;*/
    height: 500px;
    width: 100%; 
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
    
}
</style>
 