<section ng-controller="ArticlesController">
  <div class="page-header">
    <h1>New Article</h1>
  </div>


<form name="articleForm" class="form-horizontal">
      <fieldset>

<div>
  
    <div ng-controller="ArticlesController" class="container">
      
      <h1>Dynamic Form Fields Creation Plugin</h1>
      
      <div class="form-group">
        <label for="item" ng-show="showItemLabel(item)">Choices</label>

        <button ng-show="showAddItem(item)" ng-click="addNewItem()">Add Item</button>
        
        <button ng-click="removeNewItem()">Remove Item</button>
        
        <input type="text" ng-modal="{{item.name}}" name="" placeholder="Enter a restaurant name" value="{{item.id}}">
      
      </div>
      
    </div>

</div>





  <div class="col-md-12">


    

        <div class="form-group" show-errors>
          <label for="title">Title</label>
          <input name="title" type="text" ng-model="title" id="title" class="form-control" placeholder="Title" required>
          <div ng-messages="articleForm.title.$error" role="alert">
            <p class="help-block error-text" ng-message="required">Article title is required.</p>
          </div>
        </div>
        <div class="form-group">
          <label for="content">Content</label>
          <textarea name="content" ng-model="content" id="content" class="form-control" cols="30" rows="10" placeholder="Content"></textarea>
        </div>
        <div class="form-group">

         

          <input type="submit" class="btn btn-default" ng-submit="create(articleForm.$valid)" novalidate>
        </div>
        <div ng-show="error" class="text-danger">
          <strong ng-bind="error"></strong>
        </div>
      </fieldset>
    </form>
  </div>
</section>

    
