<section>


  <div class="page-header">
    <h1>Items</h1>
  </div>
  <div class="list-group">
    <a ng-repeat="item in vm.items"
       ui-sref="items.view({ itemId: item._id })"
       class="list-group-item">
      <small class="list-group-item-text">
        Posted on
        <span ng-bind="item.created | date:'mediumDate'"></span>
        by
        <span ng-if="item.user" ng-bind="item.user.displayName"></span>
        <span ng-if="!item.user">Deleted User</span>
      </small>
      <h4 class="list-group-item-heading" ng-bind="item.name">
        
Line 8?
      <p class="list-group-item-text" ng-bind="item.item"></p>

line 11.
        
      </h4>

    </a>
  </div>
  <div class="alert alert-warning text-center" ng-if="vm.items.$resolved && !vm.items.length">
    No Items yet, why don't you <a ui-sref="items.create">create one</a>?
  </div>
</section>
